body
{
    cursor: pointer;
}
.sidebar {
<<<<<<< HEAD
    /* grid-area: sidebar; */
    height: 87vh;
    width: 250px;
    padding: 6px 1rem;
    border-right: 1px solid var(--line-clr);
    background: #e0e5ec;
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px    rgba(255,255,255, 0.5);
    position: sticky;
    top: 11vh;
    align-self: start;
    overflow-y: auto;
    transition: 300ms ease-in-out;
    text-wrap: nowrap;
=======
  /* grid-area: sidebar; */
  height: 87vh;
  width: 250px;
  padding: 5px 1em;
  background-color: var(--base-clr);
  border-right: 1px solid var(--line-clr);

  position: sticky;
  top: 11vh;
  align-self: start;
  overflow-y: auto;
  transition: 300ms ease-in-out;
  text-wrap: nowrap;
>>>>>>> f7b099f49ad9cb280cb0fe0820632b05348e0b8f
}

.menu-item,
.menu-item-title span {
  margin: 10px;
  color: var(--text-color);
}
.menu-item-title span {
  width: 150px;
}
.menu-item-title {
  height: 30px;
  display: flex;
  align-items: center;
  display: relative;
}
.toggleIcon {
  position: absolute;
  right: 30px;
}
.submenu-container {
    overflow: hidden; /* Prevents overflow issues */
  }
.sub-menu {
<<<<<<< HEAD
    margin-left: 35px;
    overflow: hidden; 
  
}
.sub-menu.open 
{
    height: auto; 
    opacity: 1; 
  
}
.menu-item span:hover
{
    color: rgb(32, 134, 198);
}
.sub-item {
    margin-top: 5px;
    padding-left: 10px;
=======
  margin-left: 25px;
  padding-left: 10px;
  background: #f8f9fa;
  border-left: 3px solid #007bff;
  margin-top: 5px;
  border-radius: 5px;
}
.sub-item {
  margin-top: 5px;
>>>>>>> f7b099f49ad9cb280cb0fe0820632b05348e0b8f
}
.sub-item a {
  display: block;
  padding: 8px;
  color: #333;
  text-decoration: none;
  transition: 0.3s;
}
.sub-item a:hover {
  background: #007bff;
  color: #fff;
}

/* .line {
    height: 2px;
    background-color: #bebebe;
    border: none;
}
<<<<<<< HEAD
.hidden
{
    display: none;
}
.show-item {
    display: block;
}
=======
.sidebar.closed {
    width: 20px;
} */
>>>>>>> f7b099f49ad9cb280cb0fe0820632b05348e0b8f
