body
{
    cursor: pointer;
}
.sidebar {
    /* grid-area: sidebar; */
    height: 87vh;
    width: 250px;
    padding: 6px 1rem;
    border-right: 1px solid var(--line-clr);
    background: #e0e5ec;
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px    rgba(255,255,255, 0.5);
    position: sticky;
    top: 11vh;
    align-self: start;
    overflow-y: auto;
    transition: 300ms ease-in-out;
    text-wrap: nowrap;
}

.menu-item,
.menu-item-title span {
    margin: 10px;
    color: var(--text-color);
}
.menu-item-title span {
    width: 150px;
}
.menu-item-title {
    height: 30px;
    display: flex;
    align-items: center;
}
.sub-menu {
    margin-left: 35px;
    overflow: hidden; 
  
}
.sub-menu.open 
{
    height: auto; 
    opacity: 1; 
  
}
.menu-item span:hover
{
    color: rgb(32, 134, 198);
}
.sub-item {
    margin-top: 5px;
    padding-left: 10px;
}
.line {
    height: 2px;
    background-color: #bebebe;
    border: none;
}
.hidden
{
    display: none;
}
.show-item {
    display: block;
}
